$colorApp:#223;
$background: #eee;


body {
  position: relative;
  margin: 0;
  padding: 0;
  background: $background;
  font-family: sans-serif;
  overflow-x: hidden;
  width: auto!important; 
  outline: 0;

.quiz-app {
  position: relative;
  min-height: 100vh;

  .header {
    background-color: $colorApp;
    padding: 20px;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: 0 4px 6px 0 rgba(50,50,50,.2);
    box-shadow: 0 4px 6px 0 rgba(50,50,50,.2);

    .logo {
      width: 115px;
      // height: 55px;
    }

    .title{
      font-size: 40px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .subTitle{
      font-size: 14px;
      margin-bottom: 0px;
    }
  }

  .start-quiz {
    padding: 40px;
    @keyframes glowing {
      0% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
      }
      50% {
        background-color: #49e819;
        box-shadow: 0 0 10px #49e819;
      }
      100% {
        background-color: #2ba805;
        box-shadow: 0 0 3px #2ba805;
      }
    }
    .btn-start {
      border: none;
      animation: glowing 1300ms infinite;
    }
  }

  .App-link {
    color: #61dafb;
  }

  .container-quiz {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 140px;

    .countDown {
      text-align: center;
      right: 0;
      font-size: 12px;
      position: absolute;
      top: 15px;
      .count {
        background: #28a745;
        display: inline;
        padding: 10px;
        color: #fff;
        border-radius: 15px;
      }
      .count.danger {
        background: #e31337;
      }
    }

    .container {
      background: #fff;
      border-radius: 20px;
      position: relative;
    }

    .questionCount {
      text-align: left;
      padding: 20px 40px 0px;
      font-size: 14px;
    }
    .level {
      margin-left: 40px;
    }
    .question {
      h2 {
        text-align: left;
        padding: 10px 40px 20px;
        margin: 0;
      }
    }

    .answerOptions {
      margin: 0;
      padding: 0;
      list-style: none;
      
      .answerOption {
        border-top: 1px solid #eee;   

        .radioCustomButton, 
        .radioCustomLabel {
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
        }

        .radioCustomButton {
          position: absolute;
          width: auto;
          opacity: 0;
        }

        .radioCustomLabel {
          position: relative;
          margin: 0;
          padding: 1.5rem 2.5rem 1.5rem 5rem;
          font-size: 16px;
          line-height: 1.5;
          text-align: left;
       }

       .radioCustomButton, .radioCustomLabel {
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
        }

       input[type="radio" i] {
          background-color: initial;
          cursor: default;
          appearance: radio;
          box-sizing: border-box;
          margin: 3px 3px 0px 5px;
          padding: initial;
          border: initial;
        }

        .radioCustomButton~.radioCustomLabel:before {
          position: absolute;
          top: 20px;
          left: 38px;
          width: 28px;
          height: 28px;
          content: '';
          display: inline-block;
          vertical-align: middle;
          background: #fff;
          border: 1px solid #bbb;
          border-radius: 50%;
          -webkit-transition: all .3s;
          transition: all .3s;
       }

       .radioCustomButton:checked~.radioCustomLabel:before {
          content: '';
          background: #8bc53f;
          background-size: 27px;
          border-color: #8bc53f;
        }

        .radioCustomButton.error:checked~.radioCustomLabel.error:before {
          content: '';
          background:red;
          background-size: 27px;
          border-color:red;
        }
      }
    }
  }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $colorApp;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    height: 140px;

    a.author {
      color: #61dafb;
      text-decoration: none;
    }

    span.donate {  
      display: inline-block;
      margin: 20px;
      position: relative;
      text-decoration: none;
      cursor: pointer;
    }
    
    .donate {
      background: #e31337;
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.4) 100%),
                  -webkit-linear-gradient(left, lighten(#e31337, 15%) 0%, #e31337 50%, lighten(#e31337, 15%) 100%);
      background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.4) 100%),
                linear-gradient(to right, lighten(#e31337, 15%) 0%, #e31337 50%, lighten(#e31337, 15%) 100%);
      background-position: 0 0;
      background-size: 200% 100%;
      border-radius: 4px;
      color: #fff;
      padding: 15px 65px 15px 15px;
      text-shadow: 1px 1px 5px #666;
      -webkit-transition: all 800ms;
      transition: all 800ms;
      
      &:after {
        border-left: 1px solid darken(#e31337, 5%);
        color: darken(#e31337, 30%);
        content: "\f004";
        font: 20px "FontAwesome";
        padding: 10px 0;
        padding-left: 15px;
        position: absolute;
        right: 16px;
        top: 7px;    
        -webkit-transition: all 600ms 200ms;
        transition: all 600ms 200ms;
      }
      
      &:hover {
        background-position: -100% 0;
        
        &:after {
          border-left: 1px solid lighten(#e31337, 5%);
          color: #fff;
          text-shadow: 0 0 10px #000;
        }
      }
    }
  } 
 }

 .share-buttons {
  text-align: center;
    button {
      margin: 0px 5px;
    }
}

 .modal-lg, .modal-xl {
  max-width: 600px;
}

 .modal-donation {
    .modal-content {
      .modal-header {
        border-bottom: none;
        padding: 2rem 1rem;
        .close {
          margin: -2rem -1rem -1rem auto;
        }
       }
       .modal-title {
        width: 100%;
        text-align: center;
       }
       .modal-body {
        padding: 2rem 1rem;
       }  
    }
  }

.modal-level {
  .modal-header {
    border-bottom: none;
  }
}

.img-congrats {
   width: 100%;
}

}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    padding: 10px !important;
    
    .logo {
      width: 85px !important;
    }
    .title {
      font-size: 30px !important;
    }
  }
  
  .container-quiz {
    width: 95% !important;
    margin-top: 15px !important;
    padding-bottom: 155px !important;

    .container {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }
    
    h1 {
      font-size: 25px !important;
    }

    h2 {
      font-size: 21px;
      line-height: 30px;
    }

    .start-quiz {
      padding: 10px !important;
    }
  }
}